.signup {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 650px;
  min-height: 400px;
  max-height: 90vh;
  max-width: 80vw;
  min-width: 600px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.signup-header {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  padding: 0 20px;
}

.signup-header-item-1 {
  width: 40%;
  display: flex;
  align-items: baseline;
}

.signup-header-item-1 button {
  background-color: transparent;
  border-color: transparent;
  height: 100%;
  border-radius: 25px;
  font-size: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.signup-header-item-1 button:hover {
  background-color: #c7c7c7;
}

.signup-header-item-2 {
  display: flex;
  justify-content: center;
  width: 20%;
}

.signup-header-item-3 {
  width: 40%;
}

.signup-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 364px;
  padding: 0 32px;
}

a {
  text-decoration: none;
  color: #6dacff;
}

@media screen and (max-width: 600px) {
  .signup-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 0;
  }

  .signup-data {
    width: 75%;
    align-items: unset;
  }
}

@media screen and (max-width: 425px) {
  .signup{
    max-width: 320px;
    max-width: none;
    min-width: none;
    width: auto;
  }

  .signup-header {
    width: 100%;
    padding: 0;
  }

  .signup-container{
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    max-width: none;
    max-width: none;
    min-height: none;
    text-align: center;
  }

  .signup-data {
    width: 100%;
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
}