.welcome-container {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

.welcome-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-image: url('/src/images/background-twitter.png');
}

.welcome-image img{
  width: 60%;
}

.welcome-login {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 760px;
}

.welcome-login-data {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.welcome-login-data img {
  width: 48px;
}

.welcome-login-title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  letter-spacing: -1.2px;
  line-height: 84px;
  overflow-wrap: break-word;
  margin: 64px 0;
  max-width: 522px;
}

.welcome-login-subtitle {
  margin-bottom: 32px;
  line-height: 36px;
  font-size: 31px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.welcome-login-button-google{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  letter-spacing: 0.25px;
  white-space: nowrap;
  color: #3c4043;
  cursor: pointer;
  text-align: center;
}

.welcome-login-button-google img {
  width: 25px;
}

.welcome-login-button-google span {
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.welcome-login-button-apple{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  letter-spacing: 0.25px;
  white-space: nowrap;
  color: #3c4043;
  cursor: pointer;
  text-align: center;
}

.welcome-login-button-apple img {
  width: 25px;
}

.welcome-login-button-apple span {
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}