.welcome-container {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

.welcome-image {
  width: 45%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/images/background-twitter.png');
}

.welcome-image img{
  width: 60%;
}

.welcome-login {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 760px;
}

.welcome-login-data {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.welcome-login-data img {
  width: 48px;
}

.welcome-login-title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  letter-spacing: -1.2px;
  line-height: 84px;
  overflow-wrap: break-word;
  margin: 20px 0;
  max-width: 522px;
}

.welcome-login-subtitle {
  margin-bottom: 32px;
  line-height: 36px;
  font-size: 31px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.welcome-login-terms-and-conditions {
  width: 300px;
  height: 40px;
  line-height: 12px;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  color: #536471;
}

.welcome-login-have-account {
  color: #0f1419;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.welcome-login-button-login {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  letter-spacing: 0.25px;
  white-space: nowrap;
  color: #03A9F4;
  cursor: pointer;
  text-align: center;
}

.welcome-login-button-login:hover{
  background-color: #b4e4de;
}

.welcome-login-anchor {
  text-decoration: none;
  color: #03A9F4;
}

@media screen and (max-width: 768px) {
  .welcome-container{
    flex-direction: column;
  }

  .welcome-login {
    width: auto;
  }

  .welcome-login-title {
    line-height: 52px;
    letter-spacing: -0.8px;
    font-size: 40px;
    margin: 40px 0;
  }

  .welcome-login-subtitle {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .welcome-image {
    width: 100%;
    height: auto;
  }

  .welcome-image img {
    width: 40%;
  }
  
  .welcome-login-button-login {
    width: auto;
  }

  .welcome-login-terms-and-conditions {
    width: auto;
    margin-bottom: 60px;
  }
}